In [ ]:
# %load 'ExerciseFiles\Chap01\hello-version.py'
ExerciseFiles\Chap01\hello-version.py

In [6]:
!python --version

Python 3.9.13

In [12]:
import sys

In [15]:
print(sys.path)

['E:\\sql_python_le22feb\\ExerciseFiles\\Chap01', 'C:\\Windows', 'C:\\Windows\\System32', 'C:\\Python27', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.9_3.9.3568.0_x64__qbz5n2kfra8p0\\python39.zip', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.9_3.9.3568.0_x64__qbz5n2kfra8p0\\DLLs', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.9_3.9.3568.0_x64__qbz5n2kfra8p0\\lib', 'C:\\Users\\Khurana_Kunal\\AppData\\Local\\Microsoft\\WindowsApps\\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0', '', 'C:\\Users\\Khurana_Kunal\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python39\\site-packages', 'C:\\Users\\Khurana_Kunal\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python39\\site-packages\\win32', 'C:\\Users\\Khurana_Kunal\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python39\\site-packages\\win32\\lib', 'C:\\Users\\Khurana_Kunal\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python39\\site-packages\\Pythonwin', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.9_3.9.3568.0_x64__qbz5n2kfra8p0', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.9_3.9.3568.0_x64__qbz5n2kfra8p0\\lib\\site-packages']

In [6]:
from platform import python_version
import sqlite3
import mysql.connector as mysql


def main():
    print(f'This is python version {python_version()}')
    print(f"SQLite version {sqlite3.sqlite_version}")
    print(f"MySQL connector version {mysql.__version__}")


if __name__ == "__main__":
    main()

This is python version 3.9.13
SQLite version 3.37.2
MySQL connector version 2.2.9

In [1]:
import sqlite3


def main():
    db = sqlite3.connect("../db/scratch.db")
    cur = db.cursor()

    cur.execute("DROP TABLE IF EXISTS temp") #executes SQL statement
    cur.execute("CREATE TABLE IF NOT EXISTS temp ( a TEXT, b TEXT, c TEXT )")
    cur.execute("INSERT INTO temp VALUES ('one', 'two', 'three')")
    cur.execute("INSERT INTO temp VALUES ('four', 'five', 'six')")
    cur.execute("INSERT INTO temp VALUES ('seven', 'eight', 'nine')")
    db.commit()

    cur.execute("SELECT * FROM temp") # returns value
    row = cur.fetchone()
    while row:
        print(row)
        row = cur.fetchone()

    cur.execute("DROP TABLE IF EXISTS temp")
    cur.close()
    db.close()


if __name__ == "__main__":
    main()

('one', 'two', 'three')
('four', 'five', 'six')
('seven', 'eight', 'nine')

In [6]:
# defining cursor as iterator

def main():
    db = sqlite3.connect("../db/scratch.db")
    cur = db.cursor()

    cur.execute("DROP TABLE IF EXISTS temp") #executes SQL statement
    cur.execute("CREATE TABLE IF NOT EXISTS temp ( a TEXT, b TEXT, c TEXT )")
    cur.execute("INSERT INTO temp VALUES ('one', 'two', 'three')")
    cur.execute("INSERT INTO temp VALUES ('four', 'five', 'six')")
    cur.execute("INSERT INTO temp VALUES ('seven', 'eight', 'nine')")
    db.commit()

    cur.execute("SELECT * FROM temp") # returns value
    for row in cur:   #easier
        print(row)
        

    cur.execute("DROP TABLE IF EXISTS temp")
    cur.close()
    db.close()


if __name__ == "__main__":
    main()

('one', 'two', 'three')
('four', 'five', 'six')
('seven', 'eight', 'nine')

In [12]:
# fetchall()

def main():
    db = sqlite3.connect("../db/scratch.db")
    cur = db.cursor()

    cur.execute("DROP TABLE IF EXISTS temp") #executes SQL statement
    cur.execute("CREATE TABLE IF NOT EXISTS temp ( a TEXT, b TEXT, c TEXT )")
    cur.execute("INSERT INTO temp VALUES ('one', 'two', 'three')")
    cur.execute("INSERT INTO temp VALUES ('four', 'five', 'six')")
    cur.execute("INSERT INTO temp VALUES ('seven', 'eight', 'nine')")
    db.commit()

    cur.execute("SELECT * FROM temp") # returns value
    rows = cur.fetchall() # returns all rows
    for row in rows:   
        print(row)
        

    cur.execute("DROP TABLE IF EXISTS temp")
    cur.close()
    db.close()


if __name__ == "__main__":
    main()

('one', 'two', 'three')
('four', 'five', 'six')
('seven', 'eight', 'nine')

In [18]:
# sql preared

import mysql.connector as mysql


#MY_HOST = 'ping pluto.local'
#MY_USER = 'appuser'
#MY_PASS = 'Spartacus'

db=mysql.connector.connect(
   host="127.0.0.1",
   port="3306",
   user="root",
   passwd="teja",
   database="test"
)


#conn = mysql.connector.connect(
 
    #user = 'root', host = 'localhost', port = 3306, database = 'test')

#cursor = conn.cursor()

def main():
    db = mysql.connect(database='scratch')
    cur = db.cursor(prepared=True)

    cur.execute("DROP TABLE IF EXISTS temp")
    cur.execute("CREATE TABLE IF NOT EXISTS temp ( a TEXT, b TEXT, c TEXT )")
    cur.execute("INSERT INTO temp VALUES ('one', 'two', 'three')")
    cur.execute("INSERT INTO temp VALUES ('four', 'five', 'six')")
    cur.execute("INSERT INTO temp VALUES ('seven', 'eight', 'nine')")

    cur.execute("SELECT * FROM temp")
    for row in cur:
        print(row)

    query = "SELECT * FROM temp WHERE a = ?"
    cur.execute(query, ('four',))

    for row in cur:
        print(f"result is {row}")

    cur.execute("DROP TABLE IF EXISTS temp")
    cur.close()
    db.close()


if __name__ == "__main__":
    main()

AttributeError: module 'mysql.connector' has no attribute 'connector'

In [19]:
import sqlite3


def main():
    print("SQLite example")
    db = None   # satisfy the warnings monster
    cur = None

    try:
        # using SQLite's transient in-memory database
        db = sqlite3.connect(":memory:")
        cur = db.cursor()
        print("connected")

    except sqlite3.Error as e:
        print(f"could not open database: {e}")
        exit(1)

    try:
        # create a table
        sql_create = '''
            CREATE TABLE IF NOT EXISTS hello (
                id INTEGER PRIMARY KEY,
                a TEXT,
                b TEXT,
                c TEXT 
            ) 
        '''
        cur.execute(sql_create)
        print("table created")

    except sqlite3.Error as e:
        print(f"could not create table: {e}")
        exit(1)

    try:
        # insert rows into the table using executemany
        print("inserting rows")
        row_data = (
            ('one', 'two', 'three'),
            ('two', 'three', 'four'),
            ('three', 'four', 'five'),
            ('four', 'five', 'six'),
            ('five', 'six', 'seven'),
            ('six', 'seven', 'eight'),
            ('seven', 'eight', 'nine'),
            ('eight', 'nine', 'ten'),
            ('nine', 'ten', 'eleven'),
        )
        cur.executemany("INSERT INTO hello (a, b, c) VALUES (?, ?, ?)", row_data)
        count = cur.rowcount
        cur.executemany("INSERT INTO hello (a, b, c) VALUES (?, ?, ?)", row_data)
        count += cur.rowcount
        cur.executemany("INSERT INTO hello (a, b, c) VALUES (?, ?, ?)", row_data)
        count += cur.rowcount
        print(f"{count} rows added")
        db.commit()

    except sqlite3.Error as e:
        print(f"could not insert rows: {e}")
        exit(1)

    try:
        # count rows using SELECT COUNT(*)
        cur.execute("SELECT COUNT(*) FROM hello")
        count = cur.fetchone()[0]
        print(f"there are {count} rows in the table")

        # get column names from SQLite meta-data table_info
        cur.execute("PRAGMA table_info(hello);")
        row = cur.fetchall()
        colnames = [r[1] for r in row]
        print(f"column names are: {colnames}")

        # fetch rows using iterator
        print('\nusing iterator')
        cur.execute("SELECT * FROM hello LIMIT 5")
        for row in cur:
            print(row)

        # fetch rows using row_factory
        print('\nusing row_factory')
        cur.execute("SELECT * FROM hello LIMIT 5")
        cur.row_factory = sqlite3.Row
        for row in cur:
            print(f"as tuple: {tuple(row)}, as dict: id:{row['id']} a:{row['a']}, b:{row['b']}, c:{row['c']}")

        cur.row_factory = None  # reset row factory

        # fetch rows in groups of 5 using fetchmany
        print('\ngroups of 5 using fetchmany')
        cur.execute("SELECT * FROM hello")
        rows = cur.fetchmany(5)
        while rows:
            for r in rows:
                print(r)
            print("====== ====== ======")
            rows = cur.fetchmany(5)

        # drop table and close the database
        print('\ndrop table and close connection')
        cur.execute("DROP TABLE IF EXISTS hello")  # cleanup if db is not :memory:
        cur.close()
        db.close()

    except sqlite3.Error as e:
        print(f"sqlite3 error: {e}")
        exit(1)


if __name__ == "__main__":
    main()

SQLite example
connected
table created
inserting rows
27 rows added
there are 27 rows in the table
column names are: ['id', 'a', 'b', 'c']

using iterator
(1, 'one', 'two', 'three')
(2, 'two', 'three', 'four')
(3, 'three', 'four', 'five')
(4, 'four', 'five', 'six')
(5, 'five', 'six', 'seven')

using row_factory
as tuple: (1, 'one', 'two', 'three'), as dict: id:1 a:one, b:two, c:three
as tuple: (2, 'two', 'three', 'four'), as dict: id:2 a:two, b:three, c:four
as tuple: (3, 'three', 'four', 'five'), as dict: id:3 a:three, b:four, c:five
as tuple: (4, 'four', 'five', 'six'), as dict: id:4 a:four, b:five, c:six
as tuple: (5, 'five', 'six', 'seven'), as dict: id:5 a:five, b:six, c:seven

groups of 5 using fetchmany
(1, 'one', 'two', 'three')
(2, 'two', 'three', 'four')
(3, 'three', 'four', 'five')
(4, 'four', 'five', 'six')
(5, 'five', 'six', 'seven')
====== ====== ======
(6, 'six', 'seven', 'eight')
(7, 'seven', 'eight', 'nine')
(8, 'eight', 'nine', 'ten')
(9, 'nine', 'ten', 'eleven')
(10, 'one', 'two', 'three')
====== ====== ======
(11, 'two', 'three', 'four')
(12, 'three', 'four', 'five')
(13, 'four', 'five', 'six')
(14, 'five', 'six', 'seven')
(15, 'six', 'seven', 'eight')
====== ====== ======
(16, 'seven', 'eight', 'nine')
(17, 'eight', 'nine', 'ten')
(18, 'nine', 'ten', 'eleven')
(19, 'one', 'two', 'three')
(20, 'two', 'three', 'four')
====== ====== ======
(21, 'three', 'four', 'five')
(22, 'four', 'five', 'six')
(23, 'five', 'six', 'seven')
(24, 'six', 'seven', 'eight')
(25, 'seven', 'eight', 'nine')
====== ====== ======
(26, 'eight', 'nine', 'ten')
(27, 'nine', 'ten', 'eleven')
====== ====== ======

drop table and close connection

In [21]:
import mysql.connector as mysql


MY_HOST = 'localhost'
MY_USER = 'appuser'
MY_PASS = 'Spartacus'


def main():
    print("MySQL example")
    db = None   # satisfy the warnings monster
    cur = None

    try:
        db = mysql.connect(host=MY_HOST, user=MY_USER, password=MY_PASS, database='scratch')
        cur = db.cursor(prepared=True)
        print("connected")

    except mysql.Error as err:
        print(f"could not connect to MySQL: {err})")
        exit(1)

    try:
        cur.execute("DROP TABLE IF EXISTS hello")

        # create a table
        sql_create = '''
            CREATE TABLE IF NOT EXISTS hello (
                id SERIAL PRIMARY KEY,
                a VARCHAR(16),
                b VARCHAR(16),
                c VARCHAR(16)
            )
        '''
        cur.execute(sql_create)
        print("table created")

    except mysql.Error as err:
        print(f"could not create table: {err})")
        exit(1)

    try:
        # insert rows into the table using executemany
        row_data = (
            ('one', 'two', 'three'),
            ('two', 'three', 'four'),
            ('three', 'four', 'five'),
            ('four', 'five', 'six'),
            ('five', 'six', 'seven'),
            ('six', 'seven', 'eight'),
            ('seven', 'eight', 'nine'),
            ('eight', 'nine', 'ten'),
            ('nine', 'ten', 'eleven'),
        )
        print("inserting rows")
        cur.executemany("INSERT INTO hello (a, b, c) VALUES (?, ?, ?)", row_data)
        count = cur.rowcount
        cur.executemany("INSERT INTO hello (a, b, c) VALUES (?, ?, ?)", row_data)
        count += cur.rowcount
        cur.executemany("INSERT INTO hello (a, b, c) VALUES (?, ?, ?)", row_data)
        count += cur.rowcount
        print(f"{count} rows added")
        db.commit()

    except mysql.Error as err:
        print(f"could not add rows: {err})")
        exit(1)

    try:
        # count rows using SELECT COUNT(*)
        cur.execute("SELECT COUNT(*) FROM hello")
        count = cur.fetchone()[0]
        print(f"there are {count} rows in the table")

        # get column names by selecting one row
        cur.execute("SELECT * FROM hello LIMIT 1")
        cur.fetchall()
        colnames = cur.column_names
        print(f"column names are: {colnames}")

        # fetch rows using iterator
        print('\nusing iterator')
        cur.execute("SELECT * FROM hello LIMIT 5")
        for row in cur:
            print(row)

        # fetch rows using dictionary workaround
        print('\ndictionary workaround')
        cur.execute("SELECT * FROM hello LIMIT 5")
        for row in cur:
            rd = dict(zip(colnames, row))
            print(f"as tuple: {tuple(row)}, as dict: id:{rd['id']} a:{rd['a']}, b:{rd['b']}, c:{rd['c']}")

        # fetch rows in groups of 5 using fetchmany
        print('\ngroups of 5 using fetchmany')
        cur.execute("SELECT * FROM hello")
        rows = cur.fetchmany(5)
        while rows:
            for r in rows:
                print(r)
            print("====== ====== ======")
            rows = cur.fetchmany(5)

        # drop table and close connection
        print('\ndrop table and close connection')
        cur.execute("DROP TABLE IF EXISTS hello")
        cur.close()
        db.close()

    except mysql.Error as err:
        print(f"mysql error ({err})")
        exit(1)


if __name__ == "__main__":
    main()

MySQL example
could not connect to MySQL: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it))

AttributeError: 'NoneType' object has no attribute 'execute'